<?xml version="1.0" encoding="utf-8" ?>
<!--
Don't save your settings here, create a file in your debug / release bin folders called appSettings.config.
File should look like this, but have values:

<?xml version="1.0" encoding="utf-8" ?>
<appSettings file="appSettings.config">
  <add key="ClientId" value="" />
  <add key="ClientSecret" value=""/>
  <add key="UserName" value="" />
  <add key="Password" value="" />
  <add key="AppId" value=""/>
  <add key="AppToken" value=""/>
</appSettings>
-->
<configuration>
  <appSettings file="appSettings.config">
    <add key="ClientId" value="" />
    <add key="ClientSecret" value=""/>
    <add key="UserName" value="" />
    <add key="Password" value="" />
    <add key="AppId" value=""/>
    <add key="AppToken" value=""/>
  </appSettings>
</configuration>